<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<nav>
			<a href="/to-do">Home</a>
		</nav>
		<div class='edit-container'>
			<form action="/to-do/<%=toDo._id%>?_method=PUT" method="POST">
				To Do: <input type="text" name="toDo" value="<%=toDo.toDo%>"/><br/>
				<% if (toDo.subToDo !== null) {
					 	for (let i = 0; i < toDo.subToDo.length; i++) { %>
							Sub-To-Do: <input type="text" name="subToDo" value="<%=toDo.subToDo[i]%>"/><br/>
					<% }
				}  const addSubToDo = () => {
						console.log('HI')
						%> <input type="text" name="subToDo" placeholder="Add Sub To Do Here"/><br/> <%
					} %>
					Top Priority?:
					<input type="checkbox" checked name="priority"/>
					<%=toDo.priority%> <br/>
					<script>
 				 		document.getElementById('myButton').addEventListener("click, addSubToDo")
 				 </script>
				 <button id="myButton">Add New Sub To Do</button><br/>


				<input type="submit" value="Submit Changes"/>
				 </form>
		</div>
	</body>
</html>
