<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<nav>
			<a href="/to-do/new">Add a new To Do</a>
		</nav>
			<a href="#">Tips</a>

		<div class='home-container'>
			<div class='to-do-container'>
			<% for (let i = 0; i < toDos.length; i++) { %>
				<div class='home-to-do-container'>
					<a href="/to-do/<%=toDos[i].id; %>"><%=toDos[i].toDo%></a>
					<a href="/to-do/<%=toDos[i].id;%>/edit">Edit</a>
            <h4 class="priority">Top Priority?</h4>
						<input type="checkbox" name="topPriority"/><br/>
				</div>
		<% } %>
			</div>
		</div>
	</body>
</html>
