<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
	<body>
		<script>
		 const addSubToDo = () => {
					 console.log("hi")
					}
		</script>
		<nav>
			<a href="/to-do">Home</a>
		</nav>
		<form action="/to-do" method="POST">
						To-do: <input type="text" name="toDo" placeholder="Write to-do here"/><br/>
            Sub-to-do: <input type="text" name="subToDo" placeholder="Write sub-to-do here"/><br/>
						Add Sub-to-do: <input id="addButton" type="button" name="add" value="+" /><br/>

						Priority: <input type="checkbox" name="priority" placeholder="write here"/><br/>
					<div class='submit-new-to-do'>
            <input class="btn btn-outline-success"type="submit" value="Create To Do"/>
					</div>
    </form>

    <a class="btn btn-primary"
    href="javascript:"
    onclick="addSubToDo()"
    role="button"
    >Add</a>

		<%- include ('./partials/footer.ejs') %>

	</body>
</html>
