<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
	<body>
		<script>
		 const addSubToDo = () => {
					 const breakingPoint = document.getElementById("breakingPoint");
					 // Creating new input field
					 const inputNew = document.createElement("input");
					 inputNew.id = "subToDo"
					 inputNew.type = "text"
					 inputNew.name = "subToDo"
					 inputNew.placeholder = "Write Sub To Do Here"
					 document.body.append(inputNew);
					 // Inserting new input field in correct spot
					 breakingPoint.after(inputNew)
					}
		const deleteSubToDo = () => {
		 			const subToDoDiv = document.getElementById("subToDoContainer");
					subToDoDiv.removeChild(subToDoDiv.lastChild)
		 			}
		</script>
		<nav>
			<a href="/to-do">Home</a>
		</nav>
		<div id="formContainer">
		<form action="/to-do" method="POST">
						To Do: <br/> <input type="text" name="toDo" placeholder="Write To Do Here"/><br/>
						<br/>
						<div id="subToDoContainer">
            Sub To Do: <br/> <input id="subToDo" type="text" name="subToDo" placeholder="Write Sub To Do Here"/>
						<br id="breakingPoint"/>
					</div>
							<div id="buttonDiv">
							<br/>
							<a id="addButton" class="btn btn-primary"
				    	href="javascript:"
				    	onclick="addSubToDo()"
				    	role="button"
				    	>Add New Sub To Do</a>
							<br/>
							<br/>
							<a class="btn btn-primary"
							href="javascript:"
							onclick="deleteSubToDo()"
							role="button"
							>Delete Sub To Do</a>
						</div>
						<br/>
						<br/>
						Priority: <input type="checkbox" name="priority" placeholder="write here"/><br/>
						<br/>
					<div class='submit-new-to-do'>
            <input class="btn btn-primary" type="submit" value="Create To Do"/>
					</div>
    </form>
	</div>



		<%- include ('./partials/footer.ejs') %>

	</body>
</html>
