#body {
  background-color: #96A480;
  font-family: 'Indie Flower', cursive;
}
.appTitle{
  color:#556b2f;
}
#main-container{
padding: 0;
}
#button-color {
  background-color: #A76E5E;
  color: white;
}
.btn {
  background-color: #A76E5E;
  color: white;
}
.modal-title{
  font-size: 3em;
}
.modal-section{
  font-size: 1.5em;
}
#home-container{
  margin:2em;
}
#accordion-item{
  background-color: #556b2f;
}
#accordion-button{
  background-color: #e9aa91;
  color: #013214;
}
#accordion-header{
  background-color: #A76E5E;
}
#labelLink {
  color:black;
  text-decoration: none;
}
#labelLink:hover {
  color:white;
}
.label-link {
  font-size: 3em;
  margin-bottom: 0.5em;
}
#notes{
  color:black;
  font-size: 1.5em;
}
#affirmation-container {
  margin: 3em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#footer {
  margin-top: 20%;
  background-color:  #e9aa91;
}
.affirmation {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: auto 0;
}
#fontNewPage {
  font-size: 1.5em;
}
#formContainer{
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.edit-form-container {
  width: 80%;
  text-align: center;
}
.show-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.priority-container{
  text-align: center;
}
#show-title {
  font-size: 3em;
}
.notes {
  font-size: 1.5em;
}
.actual-note{
  font-size: 1em;
}
.notes-index{
  font-size: 1em;
}
.edit{
  margin-top: 10%;
}
.inputBox{
  width: 20em;
}
.inputNotes {
  width: 30em;
}
.form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.new-input {
  width: 40%;
  height: 2em;
}



@media only screen and (max-width: 500px) {
  .row {
    justify-content: center;
  }
  #home-container {
    width: 80%;
  }
  #affirmation-container {
    width: 80%;
  }
  .daily-aff {
    text-align: center;
  }
  .info-footer {
    padding-left: 0.5em;
  }
  .inputBox{
    width: 15em;
  }
  .inputNotes {
    width: 16em;
  }
  #show-title {
    text-align: center;
  }
  .new-input {
    width: 60%;
    height: 2em;
  }
  .form {
    margin: 0;
    width: 100%;
  }
}


@media only screen and (max-width: 400px) {
  .show-page-container {
    margin-left: 2em;
    margin-right: 2em;
  }
  .inputBox{
    width: 12em;
  }
  .inputNotes {
    width: 14em;
  }
  .new-input {
    width: %;
    height: 2em;
  }
}
