#body {
  background-color: #96A480;
}
#main-container{
padding: 0;
}
#home-container{
  margin:2em;
}
#accordion-item{
  background-color: #556b2f;
}
#accordion-header{
  background-color: #A76E5E;
}
#affirmation-container {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
#footer {
  margin-top: 20%;
  background-color:  #e9aa91;
}

.affirmation {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: auto 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
